/*-- scss:defaults --*/
$primary: #009485;
$font-size-root: 110%;
$h1-font-size: 2em;
$h2-font-size: 1.6em;
$h3-font-size: 1.25em;
// -apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif
// #fa0

$hover-color: #fa0;

/*-- scss:rules --*/
a{
    &:hover{
      color: $hover-color;
    }  
 }
